*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

/*opening*/
.background{
    width:100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comp-logo{
    width: 70px;
}

.comp-logo:hover{
    background: transparent;
    margin-top: 5px;
}

.nav-links ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 55px;
}
.nav-links ul li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 15px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display:block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover:after{
    width: 100%;
}

.page-1{
    text-align: center;
}

.page-1 h1{
    font-size: 70px;
    color: aliceblue;
    transition: 0.5ms;
    
}

.page-1 h1:hover{
    -webkit-text-stroke: 2px #ffff;
    color:transparent ;

}

.page-1 a{
    text-decoration:none ;
    display: inline-block;
    color: aliceblue;
    font-size: 20px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 40px;
    margin-top: 20px;
}

.page-1 a:hover{
    border: 1px solid #fff;
    background:greenyellow;
    transition: 1s;
}

.video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media(min-aspect-ratio:16/9){
    .video{
        width: 100%;
        height: auto;

    }
}

@media(max-aspect-ratio:16/9){
    .video{
        width: auto;
        height: 100%;

    }
}
@media(max-width:700px){
    .page-1 h1{
        font-size: 40px;
    }
    .page-1 a{
        border-radius: 20px;
        font-size: 15px;
        padding: 10px 50px;
    }
}

/*-------service--------*/
.services{
    width:80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.services h1{
    font-size: 36px;
    font-weight: 600;
}

.services p{
    color: black;
    font-size: 14px;
    font-weight: 50;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}

.service-col{
    flex-basis: 31%;
    background:rgb(214, 244, 255);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.service-col1 img{
    width: 20%;
    border-radius: 10px;
}

.service-col2 img{
    width: 20%;
    border-radius: 10px;
}

.service-col3 img{
    width: 20%;
    border-radius: 10px;
}


.service-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.row h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}

/*----footer----*/
.footer{
    margin-top: 150px;
    width: 100%;
    padding: 100px 15%;
    background: #333;
    color: #fff;
    display:flex;
}

.footer div{
    text-align: center;
}

.col-2{
    flex-grow: 2;
}

.footer div h3{
    font-weight: 300;
    margin: 30px;
    letter-spacing: 1px;
}

.col-1 a{
    display: block;
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
}

.col-2 form input{
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}
.col-2 button{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 13px;
    cursor:pointer;
}

.col-2 button:hover{
    background: greenyellow;
    transition: 1s;
}

.col-3 p{
    color: #fff;
}

.socials{
    margin-top: 30px;
}

.socials i{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}



/* sign in and sign up page*/
.box{
    width: 100%;
    height: 110vh;
    background-image: linear-gradient(rgba(0,0,50,0.8),rgba(0,0,50,0.8)),url(groceryshopping.png.png);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box h1{
    color: #fff;
    font-weight: 500;
    margin-bottom: 40px;
}

.form-box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    max-width: 800px;
    background: white;
}

.left{
    padding: 50px;
    background: #9efc9e;
    flex-basis: 50%;
    flex-grow: 1;
    color: white;
}

.right{
    padding: 50px;
    flex-basis: 50%;
    flex-grow: 1;
}

.input-box{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid white;
    outline: none;
    color: black;
    font-size: 12px;
    background: white;
    max-height: 65px;
    transition:  0.5s;
    box-shadow: 0px 0px 0 lightgreen;
}

#name-field{
    transition: max-height 0.5s;
    overflow: hidden;

}

.input-box::placeholder{
    color: #555;
}
.input-box:hover{
    box-shadow: 8px 10px 0 lightgreen;

}

form p{
    text-align: left;
    font-size: 13px;
}

form p a{
    text-decoration: none;
    color: #3c0020;
}

.btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn button{
    flex-basis: 48%;
    background:green;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn button:hover{
    font-weight: 500;
    background: #000;
    color: white;
}

.btn button.disabled{
    background: #eaeaea;
    color: #555;
}

.btn button span{
    display: inline-block;
    width: 0px;
    overflow: hidden;
    transition: width 0.5s;
}

.btn button:hover span{
    width: 30px;
}

.right a{
    display: block;
    width: 100%;
    margin: 20px 0;
    min-width: 250px;
    color: #fff;
    font-size: 14px;
    padding: 15px 30px;
    text-decoration: none;
}

.right a i{
    font-size: 18px;
    margin-right: 10px;
}

.fb{
    background: royalblue;
}

.tw{
    background: lightskyblue;
}

.ggl{
    background: lightcoral;
}



/*contact us page*/

body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family:sans-serif ;
}

.contactpg-title{
    margin-top: 100px;
    color: #fff;
}

.title h1{
    font-size: 32px;
    line-height: 10px;
}

.title h2{
    font-size: 16px;
    color: #eaeaea;
}

form{
    margin-top: 50px;

}

.contact-form{
    width: 600px;
    background:rgb(157, 156, 156);
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    color: black;
    font-size: 18px;
    margin-bottom: 16px;
}

input{
    height: 45px;
}

form .submit{
    background: #9efc9e;
}


